{{template "header" .}}
<div id="content" class="container">

  <div>
    <h2>Your submission is successfully done</h2>
    <p>Token: <strong>{{.Token}}</strong></p><br/>
    <p>Comment: <strong>{{.Comment}}</strong></p><br/>
    <a class="btn btn-primary" href="/endpoint1">Back</a>
  </div>

</div>
{{template "footer"}}
